@import "tailwindcss";

@theme {
  --font-sans: "Geist Mono Variable", var(--font-mono);
  --font-code: "JetBrains Mono Variable", var(--font-mono);
  --font-quote: "Crimson Text", var(--font-serif);

  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-error: var(--color-red-500);
}

@layer base {
  .dark {
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
  }
}

:root {
  overscroll-behavior: none;
  border: 0;
  outline: none;
}

* {
  @apply select-none;
}

h1,
h2,
h3,
p {
  @apply cursor-default;
}

.milkdown {
  @apply h-full min-h-fit w-full text-base-content;
}

.milkdown-editor[data-placeholder]::before {
  content: attr(data-placeholder);
  @apply absolute top-0 left-0 pointer-events-none text-base-content/30;
}


.milkdown-editor h1 {
  @apply text-2xl font-bold leading-loose mt-4;
}

.milkdown-editor h2 {
  @apply text-xl font-bold leading-loose mt-4;
}

.milkdown-editor h3 {
  @apply text-lg font-bold leading-loose mt-4;
}

.milkdown-editor h4 {
  @apply text-base font-bold leading-loose mt-4;
}

.milkdown-editor p {
  @apply my-4;
}

.milkdown-editor code {
  @apply px-1 py-0.5 bg-base-300 dark:bg-black/30 rounded-md font-code;
}

.milkdown-editor pre {
  @apply font-code px-4 py-3 my-4 rounded-md bg-base-300 text-sm;
}

.milkdown-editor pre code {
  @apply bg-transparent p-0 rounded-none;
}

.milkdown-editor blockquote {
  @apply my-4 px-4 py-2 border-l border-l-base-content/70 font-quote italic;
}

.milkdown-editor blockquote p {
  @apply text-xl my-0;
}

.milkdown-editor ul {
  @apply list-disc pl-12;
}

.milkdown-editor ul li {
  @apply my-2;
}

.milkdown-editor ul li p {
  @apply my-0;
}

.milkdown-editor ol {
  @apply list-decimal pl-12;
}

.milkdown-editor ol li {
  @apply my-2;
}

.milkdown-editor ol li p {
  @apply my-0;
}

.milkdown-editor hr {
  @apply border-none h-[1px] bg-base-content/30;
}
